azure-identity==1.17.1
azure-storage-file-datalake==12.15.0
azure-mgmt-costmanagement==4.0.1
azure-keyvault-secrets==4.8.0
pyodbc==5.1.0
pandas==2.2.2
prophet==1.1.5
sqlalchemy==2.0.31
pyarrow==16.1.0
python-dotenv==1.0.1
tenacity==8.3.0
